<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">

      <div class="row">
        <div class="col-md-12">
          <h3>Cargo</h3>
          <table class="display responsive no-wrap table table-hover" width="100%" id="cargoTable">
            <thead>
              <tr>
                <th></th>
                <th>Cargo</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Ano/Mês</h3>
        </div>
      </div>

    </div>

    <div class="col-md-3">

      <div class="row">
        <div class="col-md-12">
          <h3>Segmentos</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Regionais</h3>

          <table class="display responsive no-wrap table table-hover" width="100%" id="regionalsTable">
            <thead>
              <tr>
                <th></th>
                <th>Nome</th>
              </tr>
            </thead>
            <tbody>
              <% @regionals.each do |r| %>
              <tr>
                <td><input name="regionals" type="checkbox" id= "<%= r.name %>"> </td>
                <td> <label for="<%= r.name %>" > <%= r.name %>  </label></td>
              </tr>

              <% end %>

            </tbody>
          </table>


        </div>
      </div>

    </div>

    <div class="col-md-6">

      <h3>Agentes</h3>

      <table class="display responsive no-wrap table table-hover" width="100%" id="agentesTable">
        <thead>
          <tr>
            <th></th>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input name="agents" type="checkbox" id="todosAgentes"></td>
            <td><label for="todosAgentes">Todos(as)</td>
          </tr>
          <% @agents.each do |r| %>
          <tr>
            <td><input name="agents" type="checkbox" id= "<%= r.name %>" ></td>
            <td> <label for="<%= r.name %>" > <%= r.name %>  </label></td>
          </tr>

          <% end %>
        </tbody>
      </table>


    </div>



  </div>
</div>


<script type="text/javascript">
$(document).ready( function () {
  $('#agentesTable').DataTable({
    responsive: true
  });

  $('#cargoTable').DataTable({
    responsive: true
  });

  $('#regionalsTable').DataTable({
    responsive: true
  });

} );
</script>
