<% if @total_productions != nil %>
<table class="table table-sm display responsive no-wrap" width="100%" id="totalProductionTable">
  <thead>
    <tr>
      <th>Agente</th>
      <th>Cargo</th>
      <th>Regional</th>
      <th>Segmento</th>
      <th>Ano/Mês</th>
      <th>Produção</th>
      <th>Remuneração</th>
    </tr>
  </thead>
  <tbody>
    <% @total_productions.each do |t| %>
    <tr>
      <td><%= t.agent_aux.name %></td>
      <td><%= t.agent_aux.role %></td>
      <td><%= t.agent_aux.regional.name %></td>
      <td><%= t.segment.segment %></td>
      <td class="year_month"><%= t.year_month.year_month %></td>
      <td><%= t.production_value %></td>
      <td><%= t.remuneration %></td> <!-- WARNING name incorrect -->
    </tr>
    <% end %>

  </tbody>
</table>

<script type="text/javascript">
$('#totalProductionTable').DataTable({
  'responsive': true,
  'paging': false,
  'info': false,
  'searching': true,
  'scrollY': '79.2vh',
  'scrollCollapse': true,
  "ordering": true,
  "language": {
    "sEmptyTable": "Nenhum registro encontrado",
    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
    "sInfoPostFix": "",
    "sInfoThousands": ".",
    "sLengthMenu": "_MENU_ resultados por página",
    "sLoadingRecords": "Carregando...",
    "sProcessing": "Processando...",
    "sZeroRecords": "Nenhum registro encontrado",
    "search": "_INPUT_",
    "searchPlaceholder": "Pesquisar...",
    "oPaginate": {
      "sNext": "Próximo",
      "sPrevious": "Anterior",
      "sFirst": "Primeiro",
      "sLast": "Último"
    },
    "oAria": {
      "sSortAscending": ": Ordenar colunas de forma ascendente",
      "sSortDescending": ": Ordenar colunas de forma descendente"
    }
  }


});
</script>

<% elsif  @daily_productions != nil %>
<table class="table table-lg" width="100%" id="dailyProductionTable">
  <thead>
    <tr>
      <th>Agente</th>
      <th>Cargo</th>
      <th>Regional</th>
      <th><%= (@calendar.first.n_one).to_f.floor %></th>
      <th><%= (@calendar.first.n_two).to_f.floor %></th>
      <th><%= (@calendar.first.n_three).to_f.floor %></th>
      <th><%= (@calendar.first.n_four).to_f.floor %></th>
      <th><%= (@calendar.first.n_five).to_f.floor %></th>
      <th><%= (@calendar.first.n_six).to_f.floor %></th>
      <th><%= (@calendar.first.n_seven).to_f.floor %></th>
      <th><%= (@calendar.first.n_eight).to_f.floor %></th>
      <th><%= (@calendar.first.n_nine).to_f.floor %></th>
      <th><%= (@calendar.first.n_ten).to_f.floor %></th>
      <th><%= (@calendar.first.n_eleven).to_f.floor %></th>
      <th><%= (@calendar.first.n_twelve).to_f.floor %></th>
      <th><%= (@calendar.first.n_thirteen).to_f.floor %></th>
      <th><%= (@calendar.first.n_fourteen).to_f.floor %></th>
      <th><%= (@calendar.first.n_fiveteen).to_f.floor %></th>
      <th><%= (@calendar.first.n_sixteen).to_f.floor %></th>
      <th><%= (@calendar.first.n_seventeen).to_f.floor %></th>
      <% if (@calendar.first.n_eighteen).to_f.floor != 0 %><th><%= (@calendar.first.n_eighteen).to_f.floor %></th><% end %>
      <% if @calendar.first.n_nineteen.to_f.floor != 0 %><th><%= (@calendar.first.n_nineteen).to_f.floor %></th><% end %>
      <% if @calendar.first.n_twenty.to_f.floor != 0 %><th><%= (@calendar.first.n_twenty).to_f.floor %></th><% end %>
      <% if @calendar.first.n_twentyone.to_f.floor != 0 %><th><%= (@calendar.first.n_twentyone).to_f.floor %></th><% end %>
      <% if @calendar.first.n_twentytwo.to_f.floor != 0 %><th><%= (@calendar.first.n_twentytwo).to_f.floor %></th><% end %>
      <% if @calendar.first.n_twentythree.to_f.floor != 0 %><th><%= (@calendar.first.n_twentythree).to_f.floor %></th><% end %>
    </tr>
  </thead>
  <tbody>
    <% @daily_productions.each do |t| %>
    <tr>
      <td><%= t.agent_aux.name %></td>
      <td><%= t.agent_aux.role %></td>
      <td><%= t.agent_aux.regional.name %></td>
      <td><%= (t.d_one).to_s + "0" %></td>
      <td><%= (t.d_two).to_s + "0" %></td>
      <td><%= (t.d_three).to_s + "0" %></td>
      <td><%= (t.d_four).to_s + "0" %></td>
      <td><%= (t.d_five).to_s + "0" %></td>
      <td><%= (t.d_six).to_s + "0" %></td>
      <td><%= (t.d_seven).to_s + "0" %></td>
      <td><%= (t.d_eight).to_s + "0" %></td>
      <td><%= (t.d_nine).to_s + "0" %></td>
      <td><%= (t.d_ten).to_s + "0" %></td>
      <td><%= (t.d_eleven).to_s + "0" %></td>
      <td><%= (t.d_twelve).to_s + "0" %></td>
      <td><%= (t.d_thirteen).to_s + "0" %></td>
      <td><%= (t.d_fourteen).to_s + "0" %></td>
      <td><%= (t.d_fiveteen).to_s + "0" %></td>
      <td><%= (t.d_sixteen).to_s + "0" %></td>
      <td><%= (t.d_seventeen).to_s + "0" %></td>
      <td><%= (t.d_eighteen).to_s + "0" %></td>
      <% if t.d_nineteen != 0 %> <td><%= (t.d_nineteen).to_s + "0" %></td><% end %>
      <% if t.d_twenty != 0 %><td><%= (t.d_twenty).to_s + "0" %></td><% end %>
      <% if t.d_twentyone != 0 %><td><%= (t.d_twentyone).to_s + "0" %></td><% end %>
      <% if t.d_twentytwo != 0 %><td><%= (t.d_twentytwo).to_s + "0" %></td><% end %>
      <% if t.d_twentythree != 0 %><td><%= (t.d_twentythree).to_s + "0" %></td><% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
$('#dailyProductionTable').DataTable({
  'paging': false,
  'info': false,
  'searching': true,
  'scrollY': '79vh',
  'scrollX': true,
  'sScrollX': '100%',
  'sScrollCollapse': true,
  "ordering": true,
  "language": {
    "sEmptyTable": "Nenhum registro encontrado",
    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
    "sInfoPostFix": "",
    "sInfoThousands": ".",
    "sLengthMenu": "_MENU_ resultados por página",
    "sLoadingRecords": "Carregando...",
    "sProcessing": "Processando...",
    "sZeroRecords": "Nenhum registro encontrado",
    "search": "_INPUT_",
    "searchPlaceholder": "Pesquisar...",
    "oPaginate": {
      "sNext": "Próximo",
      "sPrevious": "Anterior",
      "sFirst": "Primeiro",
      "sLast": "Último"
    },
    "oAria": {
      "sSortAscending": ": Ordenar colunas de forma ascendente",
      "sSortDescending": ": Ordenar colunas de forma descendente"
    }
  }


});
</script>


<% end %>
