<% if @total_productions != nil %>
<table class="table table-sm display responsive no-wrap" width="100%" id="totalProductionTable">
  <thead>
    <tr>
      <th>Agente</th>
      <th>Cargo</th>
      <th>Regional</th>
      <th>Ano/Mês</th>
      <th>Segmento</th>
      <th>Produção</th>
      <th>Ating. %</th>
      <th>Remuneração</th>
      <th>Remun. %</th>
    </tr>
  </thead>
  <tbody>
    <% @total_productions.each do |t| %>
    <tr>
      <td><%= t.agent_aux.name %></td>
      <td><%= t.agent_aux.role %></td>
      <td><%= t.agent_aux.regional.name %></td>
      <td class="year_month"><%= t.year_month.year_month %></td>
      <td><%= t.segment.segment %></td>
      <td class="real text-md-right"><%= t.production_value %></td>
      <td class="percent text-md-right"><%= t.goal_percent %></td>
      <td class="real text-md-right"><%= t.remuneration %></td>
      <td class="percent text-md-right"><%= t.remunaration_percent %></td>
    </tr>
    <% end %>

  </tbody>
</table>

<script type="text/javascript">
$('#totalProductionTable').DataTable({
  'fixedHeader': true,
  'responsive': true,
  'paging': false,
  'info': false,
  'searching': true,
  'scrollY': '79.2vh',
  'scrollCollapse': true,
  "ordering": true,
  "language": {
    "sEmptyTable": "Nenhum registro encontrado",
    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
    "sInfoPostFix": "",
    "sInfoThousands": ".",
    "sLengthMenu": "_MENU_ resultados por página",
    "sLoadingRecords": "Carregando...",
    "sProcessing": "Processando...",
    "sZeroRecords": "Nenhum registro encontrado",
    "search": "_INPUT_",
    "searchPlaceholder": "Pesquisar...",
    "oPaginate": {
      "sNext": "Próximo",
      "sPrevious": "Anterior",
      "sFirst": "Primeiro",
      "sLast": "Último"
    },
    "oAria": {
      "sSortAscending": ": Ordenar colunas de forma ascendente",
      "sSortDescending": ": Ordenar colunas de forma descendente"
    }
  }


});
</script>

<% elsif  @daily_productions != nil %>
<%  cont = 0 %>
<table class="stripe row-border order-column" width="100%" id="dailyProductionTable">
  <thead>
    <th style="min-width: 200px;">Agente</th>
    <th>Cargo</th>
    <th>Regional</th>
    <% @calendar.each_with_index do |(key, val), i| %>
    <th class="text-right"><%= (val).to_f.floor %></th>
    <% cont = cont + 1 %>
    <% end %>
  </thead>
  <tbody>
    <% contAux = cont %>
    <% @daily_productions.each do |t| %>
    <% cont = contAux %>
    <tr>
      <td><%= t.agent_aux.name %></td>
      <td><%= t.agent_aux.role %></td>
      <td><%= t.agent_aux.regional.name %></td>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_one %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_two %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_three %></td><% cont = cont - 1 %><% else next %>><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_four %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_five %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_six %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_seven %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_eight %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_nine %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_ten %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_eleven %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_twelve %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_thirteen %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_fourteen %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_fiveteen %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_sixteen %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_seventeen %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_eighteen %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_nineteen %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_twenty %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_twentyone %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_twentytwo %></td><% cont = cont - 1 %><% else next %><% end %>
      <% if cont > 0 %><td class="text-right d_width real"><%= t.d_twentythree %></td><% cont = cont - 1 %><% else next %><% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
$(document).ready(function() {
  $('#dailyProductionTable').DataTable({
    'scrollY':        '79.2vh',
    'scrollX':        true,
    'scrollCollapse': true,
    'paging':         false,
    'info': false,
    'scrollCollapse': true,
    "ordering": true,
    'fixedColumns':   {
      leftColumns: 1
    },
    "columnDefs": [
                { "type": "numeric-comma", 'targets': 'real' }
            ],
    "language": {
      "sEmptyTable": "Nenhum registro encontrado",
      "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
      "sInfoFiltered": "(Filtrados de _MAX_ registros)",
      "sInfoPostFix": "",
      "sInfoThousands": ".",
      "sLengthMenu": "_MENU_ resultados por página",
      "sLoadingRecords": "Carregando...",
      "sProcessing": "Processando...",
      "sZeroRecords": "Nenhum registro encontrado",
      "search": "_INPUT_",
      "searchPlaceholder": "Pesquisar...",
      "decimal": ",",
      "thousands": ".",
      "oPaginate": {
        "sNext": "Próximo",
        "sPrevious": "Anterior",
        "sFirst": "Primeiro",
        "sLast": "Último"
      },
      "oAria": {
        "sSortAscending": ": Ordenar colunas de forma ascendente",
        "sSortDescending": ": Ordenar colunas de forma descendente"
      }
    }
  } );

});

</script>


<% end %>
